@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  background: #b31217;
  background: linear-gradient(to bottom right,#b31217,#e52d27);
}

.container {
  max-width: 1200px;
  height: 100%;
  margin: {
    left: auto;
    right: auto;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  cursor: pointer;
  background: #fff;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 1.1rem;
  margin: {
    left: 1rem;
    right: 1rem;
  }
  position: relative;
  -webkit-tap-highlight-color: rgba(0,0,0,0.0001);

  &:before {
    content: '';
    background-color: #d8dfe5;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale(0.001, 0.001);
  }

  &:focus {
    outline: none;

    &:before {
      animation: btn_click 0.8s ease-out;
    }
  }
}

.countdown {
  font-family: 'Archivo Narrow', sans-serif;
  font-size: calc(5.5rem + 15vw);
  color: #fff;
  margin-bottom: 5vh;
  display: block;
  user-select: none;
}
@keyframes btn_click {
  50% {
    transform: scale(2, 2);
    opacity: 0;
  }

  99% {
    transform: scale(0.001, 0.001);
    opacity: 0;
  }

  100% {
    transform: scale(0.001, 0.001);
    opacity: 1;
  }
}
